.ggv,
.grayghost {
    height: 70px;
    width: 70px;
}

.ggv {
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .24);
    display: block;
    padding: 10px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 240ms ease-in-out;
    transition: all 240ms ease-in-out;
    z-index: 9999;
    text-decoration: none;
    background: #EBF5DF;
    opacity: .375
}

.ggv:hover {
    opacity: 1;
    -webkit-transform: scale(1.0925);
    transform: scale(1.0925);
    background: #dc3545;
}

.ggv>* {
    -webkit-transition: inherit;
    transition: inherit
}

.grayghost {
    position: relative;
    z-index: 1
}